<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="container">

      <h1><%= title %></h1>
      <p>Welcome to <%= title %></p>


      <form action="/add" method="post">
        <input type="text" name="newTask">
        <input type="submit">
      </form>

      <ul>
        <% for( var i = 0; i < items.length; i++) { %>
          <li><%= items[i].task %> <button type="button" name="button">Complete</button> </li>

        <% } %>

      </ul>




    </div>
  </body>
</html>
